.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    border: 1px solid #2da03c;
    padding: 0 10px;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Droid Sans';
    color: rgb(124, 124, 124);
    line-height: 60px;
    font-size: 20px;
    /* font-weight: bold; */
}
.panel-default>.panel-heading a:hover {
    text-decoration:none;
    background-color: #2da03c;
    color: #fff;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
	color: #7c7c7c;
	line-height: 60px;
	font-size: 32px;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #2da03c;
    color: #fff;
}
.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
    color: #fff;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
	
}


.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}