<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Home Sub Sliders</h1>
        <a href="/admin/#!/dashboard/createHome">
            <button type="button" class="btn btn-outline btn-primary pull-right">
                <i class="fa fa-plus"></i> Add Home Slider</button>
        </a>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                Home Sliders list
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Slider Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in homeSliders track by  $index">
                                <td>{{$index+1}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.sliderTitle}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" ng-click="editHome(item._id);">
                                        <i class="fa fa-edit fa-fw"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteHome(item._id);">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>