<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Rollerover text image</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-group">
                                <label>Headline</label>
                                <input class="form-control" ng-model="rolloverImage.headline" placeholder="Enter text">
                                <!-- <p class="help-block">Example block-level help text here.</p> -->
                            </div>

                            <div class="form-group">
                                <label>Body text</label>
                                <input class="form-control" ng-model="rolloverImage.bodyText" placeholder="Enter text">
                                <!-- <p class="help-block">Example block-level help text here.</p> -->
                            </div>

                            <div class="form-group">
                                <label>Upload Image</label>
                                <file-upload extensions="extensions" ng-model="rolloverImage.file"></file-upload>
                            </div>

                            <button type="submit" class="btn btn-default" ng-click="saveData(rolloverImage,'rolloverImage');">Submit Button</button>
                            <button type="reset" class="btn btn-default" ng-click="reset();">Reset Button</button>
                            <button class="btn btn-default" ng-click="goBack();">cancel</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>