<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="">
<meta name="author" content="">
<title>ZIM - Zeal & Innovation in Medicine</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="css/full-slider.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/grayscale.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/custom-2.css" rel="stylesheet">
<link rel="stylesheet" href="css/responsive.css">
<link href="css/infinite-slider.css" rel="stylesheet">
</head>
<script>
	function includeHTML() {
	  var z, i, elmnt, file, xhttp;
	  /*loop through a collection of all HTML elements:*/
	  z = document.getElementsByTagName("*");
	  for (i = 0; i < z.length; i++) {
		elmnt = z[i];
		/*search for elements with a certain atrribute:*/
		file = elmnt.getAttribute("w3-include-html");
		if (file) {
		  /*make an HTTP request using the attribute value as the file name:*/
		  xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
			if (this.readyState == 4) {
			  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
			  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
			  /*remove the attribute, and call this function once more:*/
			  elmnt.removeAttribute("w3-include-html");
			  includeHTML();
			}
		  }      
		  xhttp.open("GET", file, true);
		  xhttp.send();
		  /*exit the function:*/
		  return;
		}
	  }
	};
	</script>
<body id="page-top" class="blog">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid"> <a class="navbar-brand js-scroll-trigger" href="index.html"><img src="images/logo.png" alt=""></a> <a class="navbar-brand-white js-scroll-trigger" href="index.html"><img src="images/white-logo.png" alt=""></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fa fa-bars"></i> </button>
    <div w3-include-html="views/header.html"></div>
  </div>
</nav>
<!-- EndNavigation -->
<header>
  <div class="enquire animatedParent" >
    <div class="buttons">
      <div class="enquire-button animated bounceInRight slower"  data-id="1"> <i class="fa fa-envelope-o"></i> <b>CONTACT US</b> </div>
    </div>
    <div class="form">
      <h3>CONTACT US</h3>
      <p> A drug-delivery solution provider, ZIM Laboratories Limit sfasd targeting patient convenience and adherence. </p>
      <form id="enquire-form">
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="MOBILE NO">
        <input type="text" placeholder="EMAIL ID">
        <input type="text" placeholder="MESSAGE">
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</header>
<section id="blog-inner">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="post-details">
          <h3>ZIM's Managing Director, Dr. Anwar Daud talking about Orally Disintegrating Strips with Drug Today</h3>
          <small>February, 02, 2018</small>
          <div class="social-links"> <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-google-plus"></i> <i class="fa fa-pinterest"></i> <i class="fa fa-linkedin"></i> <i class="fa fa-envelope"></i> </div>
          <div class="post-image"> <img width="100%" src="images/post-image.png" alt="post-image"> </div>
          <div class="post-desc">
            <p> Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited. </p>
          </div>
        </div>
        <div class="post-details">
          <div class="post-image"> <img width="100%" height="100%" src="images/post-video.png" alt="post-image"> </div>
          <div class="post-desc">
            <p> Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient. <br>
              <br>
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited is an innovative drug delivery solutions providing company targeting patient
              Zim Laboratory limited. </p>
          </div>
          <div class="social-links"> <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-google-plus"></i> <i class="fa fa-pinterest"></i> <i class="fa fa-linkedin"></i> <i class="fa fa-envelope"></i> </div>
        </div>
        <div class="pagination">
          <div class="row">
            <div class="col-lg-2 text-left">
              <p><b><i class="fa fa-chevron-left"></i> Previous Blog</b></p>
              <p> There were five Mondays
                in the month of July and
                call it coincidence or </p>
            </div>
            <div class="col-lg-4">
              <div class="prev-post"> <img src="images/latest-blogs.png"> </div>
            </div>
            <div class="col-lg-4">
              <div class="next-post"> <img src="images/latest-blogs.png"> </div>
            </div>
            <div class="col-lg-2 text-right">
              <p><b> Next Blog <i class="fa fa-chevron-right"></i></b></p>
              <p> There were five Mondays
                in the month of July and
                call it coincidence or </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>LATEST BLOGS</h4>
        <div class="latest-blogs">
          <div class="image"> <img src="images/latest-blogs.png"> </div>
          <div class="title">
            <h3 class="post-title">ZIM's Managing Director, Dr....</h3>
          </div>
        </div>
        <div class="latest-blogs">
          <div class="image"> <img src="images/latest-blogs.png"> </div>
          <div class="title">
            <h3 class="post-title">ZIM's Managing Director, Dr....</h3>
          </div>
        </div>
        <div class="latest-blogs">
          <div class="image"> <img src="images/latest-blogs.png"> </div>
          <div class="title">
            <h3 class="post-title">ZIM's Managing Director, Dr....</h3>
          </div>
        </div>
        <div class="latest-blogs">
          <div class="image"> <img src="images/latest-blogs.png"> </div>
          <div class="title">
            <h3 class="post-title">ZIM's Managing Director, Dr....</h3>
          </div>
        </div>
        <div class="categories">
          <p>CATEGORIES</p>
          <ul class="categories">
            <li><a href="#"><i class="fa fa-check"></i> Management Speaks</a></li>
            <li><a href="#"><i class="fa fa-check"></i> Technology</a></li>
            <li><a href="#"><i class="fa fa-check"></i> Market</a></li>
            <li><a href="#"><i class="fa fa-check"></i> Products</a></li>
            <li><a href="#"><i class="fa fa-check"></i> CSR</a></li>
            <li><a href="#"><i class="fa fa-check"></i> Equity</a></li>
            <li><a href="#"><i class="fa fa-check"></i> Debt</a></li>
            <li><a href="#"><i class="fa fa-check"></i> M&A</a></li>
          </ul>
        </div>
        <div class="facebook-post text-center">
          <p>Facebook</p>
          <img src="images/social-media-post.png" alt="social-media-post"> </div>
        <div class="twitter-post text-center">
          <p>Twitter</p>
          <img src="images/social-media-post.png" alt="social-media-post"> </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer Section-->
<div w3-include-html="views/footer.html"></div>
<!-- End Footer Section-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content popup-menu">
      <button type="button" class="close menu-pop-cls-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div w3-include-html="views/menu.html"></div>
    </div>
  </div>
</div>
<script>
		includeHTML();
		</script> 

<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="js/slick.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script>
			$(document).ready(function(){
			  $('.customer-logos').slick({
				slidesToShow: 6,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 1000,
				arrows: false,
				dots: false,
				pauseOnHover: false,
				responsive: [{
				  breakpoint: 768,
				  settings: {
					slidesToShow: 4
				  }
				}, {
				  breakpoint: 520,
				  settings: {
					slidesToShow: 3
				  }
				}]
			  });
			});
		</script> 
<!-- Plugin JavaScript --> 
<script src="vendor/jquery-easing/jquery.easing.min.js"></script> 
<!-- Custom scripts for this template --> 
<script src="js/grayscale.min.js"></script> 
<script src="js/custom-2.js"></script>
</body>
</html>