<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>ZIM - Zeal & Innovation in Medicine</title>
        <script>
            function includeHTML() {
              var z, i, elmnt, file, xhttp;
              /*loop through a collection of all HTML elements:*/
              z = document.getElementsByTagName("*");
              for (i = 0; i < z.length; i++) {
            	elmnt = z[i];
            	/*search for elements with a certain atrribute:*/
            	file = elmnt.getAttribute("w3-include-html");
            	if (file) {
            	  /*make an HTTP request using the attribute value as the file name:*/
            	  xhttp = new XMLHttpRequest();
            	  xhttp.onreadystatechange = function() {
            		if (this.readyState == 4) {
            		  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
            		  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
            		  /*remove the attribute, and call this function once more:*/
            		  elmnt.removeAttribute("w3-include-html");
            		  includeHTML();
            		}
            	  }      
            	  xhttp.open("GET", file, true);
            	  xhttp.send();
            	  /*exit the function:*/
            	  return;
            	}
              }
            };
        </script>
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="vendor/droid/stylesheet.css">
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
        <!-- Plugin CSS -->
        <link href="css/resCarousel.css" rel="stylesheet" type="text/css">
        <link href="css/accordian.css" rel="stylesheet">
        <link rel="stylesheet" href="css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="css/dataTables.responsive.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="css/tabs.css">
        <link href="css/liteaccordion.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/zimlab.min.css">
        <script src="js/highcharts.js"></script>
        <!--<script src="https://code.highcharts.com/highcharts-3d.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>-->
    </head>
    <body>
        <div class="firstBlur main-container">
            <!-- Navigation -->
            <div class="navbar navbar-expand-lg navbar-light fixed-top">
			<div class="container">
				<div class="flyout hidden">
					<nav>
					<div class="wrapper resize-drag topnav-wrapper">
						<ul class="nav-ul">
						<li><a href="about-us.html">About Us</a></li>
						<li><a ui-sref="product">Products</a></li>
						<li><a href="infrastructure.html">Infrastructure</a></li>
						<li><a href="technology.html">TECHNOLOGY / R&D</a></li>
						<li><a ui-sref="corporate-information">Corporate Information</a></li>
						<li><a href="coming-soon.html">Investors</a></li>
						<li><a href="diversified-customers-countries.html">Diversified Customers & Countries</a></li>
						<li><a href="co-developement_partnership.html">Co Developement & Partnerships</a></li>
						<li><a href="career.html">Careers</a></li>
						<li><a ui-sref="blog">Media Kit</a></li>
						<li><a href="contact-us.html">Contact US</a></li>
					  </ul>
					</div>
					</nav>
					</div>
            </div>
			<div class="opener hidden" id="mainNav">
                <nav>
                    <ul class="nav-ul-1">
                        <li><a ui-sref="corporate-information">Corporate Information</a></li>
                        <li><a href="technology.html">TECHNOLOGY / R&D</a></li>
                        <li><a ui-sref="product">Products</a></li>
                        <li><a><span class="toggle"></span></a></li>
                    </ul>
                </nav>
				
				<div class="navbar-brand-white js-scroll-trigger">
					<a href="index.html"><img src="images/zim-logo-white.png" alt=""/></a>
				</div>
				<div class="navbar-brand js-scroll-trigger">
					<a href="index.html"><img src="images/zim-logo-green.png" alt=""/></a>
				</div>
			</div>
		</div>
            <!-- End Navigation --> 
            <!-- Header -->
            <header class="page-header-banner contact-banner">
                <h1 class="white">CONTACT US</h1>
            </header>
            
            <section>
                <div class="container">
                    <div class="tab_wrapper tab_wrapper_4 first_tab">
                        <ul class="tab_list">
                            <li class="active">REGISTERED<br>OFFICE</li>
                            <li>MANUFACTURING<br>FACILITY</li>
                            <li>PHARMACOVIGILANCE<br>DRUG SAFETY</li>
                            <li>BUSINESS<br>ENQUIRY</li>
                        </ul>
                        <div class="content_wrapper border_green">
                            <div class="tab_content active">
                                <div class="row">
                                <div class="col-lg-12 text-center"><br>
                                    <h3 class="green">ZIM LABORATORIES LIMITED</h3>
                                        <p>Ground Floor, Sadoday Gyan, Nelson Square, Chhindwara Road, Nagpur - 440013, India.<br>Phone: +91 712 2588 070  <strong>|</strong>  Email: info@zimlab.in</p>
                                </div>
                                </div>
                            </div>
                            <div class="tab_content">
                                <div class="row">
                                <div class="col-lg-12 text-center"><br>
                                    <h3 class="green">ZIM LABORATORIES LIMITED</h3>
                                        <p>B-21/22, MIDC Area, Kalmeshwar - 441 501,Dist. Nagpur, India<br>
                                    Phone: +91 711 8271 370  <strong>|</strong>  +91 711 8271 990<br>Fax: +91 711 8271 470
											<br>
											Email: info@zimlab.in
										</p>
                                </div>
                                </div>
                            </div>
                            <div class="tab_content">
                                <div class="row">
                                <div class="col-lg-12 text-center"><br>
                                    <h3 class="green">ZIM LABORATORIES LIMITED</h3>
                                        <p>For any Safety related queries,<br>
											Kindly contact on the details given below,<br>
											<br>
											<br>
											E-mail: pv@zimlab.in
										</p>
                                </div>
                                </div>
                            </div>
                            <div class="tab_content">
                                <div class="row">
                                <div class="col-lg-12 text-center"><br>
                                    <h3 class="green">ZIM LABORATORIES LIMITED</h3>
                                        <p>For any Business related queries,<br>
											Kindly contact on the details given below,<br>
											<br>
											<br>
											Email: info@zimlab.in
										</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
        <div w3-include-html="views/footer.html"></div>
        <!--footer--> 
        <!-- Bootstrap core JavaScript --> 
        <script src="vendor/jquery/jquery.min.js"></script> 
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
        <!-- Plugin JavaScript --> 
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script> 
        <script src="js/resCarousel.js"></script> 
        <script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script> 
        <script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script> 
        <script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/liteaccordion.jquery.js"></script>
        <!--<script src="js/jquery.bootstrap-responsive-tabs.min.js"></script>-->
        <script src="js/zimlab.js"></script> 
        <!-- Custom scripts for this template --> 
        <script src="js/priority-nav.js"></script> 
        <script type="text/javascript" src="js/jquery.multipurpose_tabcontent.js"></script> 
        <!--<script src="js/charts.js"></script> 
            Plug-in Initialisation--> 
        <script>
            var wrapper = document.querySelector(".nav-wrapper");
               var nav = priorityNav.init({
                   mainNavWrapper: ".nav-wrapper", // mainnav wrapper selector (must be direct parent from mainNav)
                   mainNav: ".nav-ul", // mainnav selector. (must be inline-block)
                   navDropdownLabel: 'test',
                   navDropdownClassName: "nav__dropdown", // class used for the dropdown.
                   navDropdownToggleClassName: "nav__dropdown-toggle", // class used for the dropdown toggle.
               });
            
               /**
                * Initiate priorityNav
                */
               var nav2 = priorityNav.init({
                   mainNavWrapper: ".topnav-wrapper", // mainnav wrapper selector (must be direct parent from mainNav)
                   mainNav: ".nav-ul", // mainnav selector. (must be inline-block)
                   navDropdownLabel: 'More',
                   navDropdownClassName: "nav__dropdown", // class used for the dropdown.
                   navDropdownToggleClassName: "nav__dropdown-toggle", // class used for the dropdown toggle.
               });
            
            includeHTML();
        </script>
    </body>
</html>