
	<section>
				<div class="social-block">
						<ul>
                            <li><b>Follow Us</b></li>
                            <li><a href="https://www.facebook.com/ZIMINDIA/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/zimlab" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/zim-laboratories-960751140/" class="text-left" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://plus.google.com/100769418889904785117" class="text-left" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCCDZ7ySr5lGKhFHETfcOH_w" target="_blank"><i class="fa fa-youtube"></i></a></li>
						</ul> 
				</div>
		</section>		

<section class="footer-section" style="margin-top:0px;">
	<div class="container-fluid footbox-wrap">
				<div class="row">
					<div class="footbox foot1">
						<div class="foot-th">
							<b><a class="js-scroll-trigger" href="about-us.html">ABOUT US</a></b>
							<span class="collapse-btn collapsed" data-toggle="collapse" href="#fbox1" role="button"></span>
						</div>
						<div class="foot-td collapse" id="fbox1">
						<ul>							
							<li><a class="js-scroll-trigger" href="about-us.html#history">History & Way Forward</a></li>
							<li><a class="js-scroll-trigger" href="about-us.html#ziminfocus">ZIM in Focus</a></li>
                            <li><a class="js-scroll-trigger" href="about-us.html#accreditation">Accreditation</a></li>
							<!--<li><a class="js-scroll-trigger" href="about-us.html#leadership">Company Leadership</a></li>-->
							<!--<li><a class="js-scroll-trigger" href="about-us.html#leadership">Management Committee</a></li>-->
						</ul>
						</div>
					</div>					
					
					<div class="footbox foot2">
						<div class="foot-th">
							<b><a class="js-scroll-trigger" ui-sref="product">PRODUCTS</a></b>
							<span class="collapse-btn collapsed" data-toggle="collapse" href="#fbox2" role="button"></span>
						</div>
						<div class="foot-td collapse" id="fbox2">
						<ul>							
							<li><a class="js-scroll-trigger" href="products.html#product-dev">Delivery Platforms</a></li>
							<li><a class="js-scroll-trigger" href="products.html#otf">OTF Products & Partners</a></li>
							<li><a class="js-scroll-trigger" href="products.html#preformulation">Pre Formulation Intermediates</a></li>
							<li><a class="js-scroll-trigger" href="products.html#finsihed-formulation">Finsihed Formulations</a></li>
							<li><a class="js-scroll-trigger" href="products.html#underdev-products">Products Under Developement</a></li>
						</ul>
						</div>
					</div>					
					
					<div class="footbox foot3">
						<div class="foot-th">
							<b><a class="js-scroll-trigger" href="infrastructure.html">INFRASTRUCTURE</a></b>
							<span class="collapse-btn collapsed" data-toggle="collapse" href="#fbox3" role="button"></span>
						</div>
						<div class="foot-td collapse" id="fbox3">
						<ul>							
							<li><a class="js-scroll-trigger" href="infrastructure.html">General Facilities</a></li>
							<li><a class="js-scroll-trigger" href="infrastructure.html">OTF Facility</a></li>
							<li><a class="js-scroll-trigger" href="infrastructure.html">Cephalosporin Facility</a></li>
						</ul>
						</div>
					</div>				
					
					<div class="footbox foot4">
						<div class="foot-th">
							<b><a class="js-scroll-trigger" href="technology.html">TECHNOLOGY / R&D </a></b>
							<span class="collapse-btn collapsed" data-toggle="collapse" href="#fbox4" role="button"></span>
						</div>
						<div class="foot-td collapse" id="fbox4">
						<ul>							
							<li><a class="js-scroll-trigger" href="technology.html#award">Award and Recognition</a></li>
							<li><a class="js-scroll-trigger" href="technology.html#rndbanner">Research and Developement</a></li>
							<li><a class="js-scroll-trigger" href="technology.html#rndteam">R&D Team</a></li>
							<li><a class="js-scroll-trigger" href="technology.html#rndpatents">R&D Patents</a></li>
							<li><a class="js-scroll-trigger" href="technology.html#rndfacilities">Zim R&D Facility</a></li>
							<li><a class="js-scroll-trigger" href="otf-technology.html">Oral Thin Films</a></li>
						</ul>
						</div>
					</div>			
					
					<div class="footbox foot5">
						<div class="foot-th">
							<b><a class="js-scroll-trigger" ui-sref="corporate-information">CORPORATE INFORMATION</a></b>
							<span class="collapse-btn collapsed" data-toggle="collapse" href="#fbox5" role="button"></span>
						</div>
						<div class="foot-td collapse" id="fbox5">
						<ul>
							<li><a class="js-scroll-trigger" href="corporate-information.html#growth">Growth Initiatives</a></li>
							<li><a class="js-scroll-trigger" href="corporate-information.html#leadership">Company Leadership</a></li>
							<li><a class="js-scroll-trigger" href="corporate-information.html#teams">Management Committee</a></li>
							<li><a class="js-scroll-trigger" href="corporate-information.html#ourpresence">Our Presence</a></li>
							<li><a class="js-scroll-trigger" href="corporate-information.html#historical-financials">Financials</a></li>
							<li><a class="js-scroll-trigger" href="corporate-information.html#downloads">Investor Reports & Presentations</a></li>
						</ul>
						</div>
					</div>
				</div>
			</div>
<div class="container-fluid second-footer">
				<ul class="sublink">
					<li><a class="js-scroll-trigger" href="coming-soon.html"><b>INVESTORS</b></a></li>
					<li><a class="js-scroll-trigger" href="diversified-customers-countries.html"><b>Diversified Customers & Countries</b></a></li>
					<li><a class="js-scroll-trigger" href="co-developement_partnership.html"><b>Co-development & Partnerships</b></a></li>
					<li><a class="js-scroll-trigger" href="career.html"><b>Careers</b></a></li>
					<!--<li><a class="js-scroll-trigger" href="#"><b>Blog</b></a></li>-->
					<li><a class="js-scroll-trigger" ui-sref="blog"><b>Media Kit</b></a></li>
					<li><a class="js-scroll-trigger" href="contact-us.html"><b>Contact Us</b></a></li>
				</ul>
			</div>
</section>


<footer class="copyright">
            <div class="container-fluid">
				<div class="row">
					<div class="col-sm-6"><p>&copy; Copyright 2018, ZIM Laboratories Limited | <a class="js-scroll-trigger" href="disclaimer.html">Disclaimer</a></p></div>
					<div class="col-sm-6 text-right"><p><b>CIN-U99999MHI984PLC032172</b></p></div>
				</div>
            </div>
        </footer>