<div class="row">
    <div class="col-lg-12">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ui-sref="corporate-information">Corporate Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ui-sref="technology">Technology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" ui-sref="product">Products</a>
                </li>
                <li class="nav-item popupmenu-desk">
                    <button type="button" class="popup-menu-btn" data-toggle="modal" data-target="#myModal">
                    <span class="fa fa-bars"></span></button>
                </li>
                <li class="here mob-links nav-item "><a class="nav-link" ui-sref="about-us">About Us</a></li>
                <li class="mob-links nav-item "><a class="nav-link" ui-sref="infrastructure">Infrastructure</a></li>
                <li class="mob-links nav-item "><a class="nav-link" ui-sref="#">Allainces</a></li>
                <li class="mob-links nav-item "><a class="nav-link" ui-sref="co-developement_partnership">Co-developement and Partnership</a></li>
                <li class="mob-links nav-item "><a class="nav-link" ui-sref="career">Careers</a></li>
                <li class="mob-links nav-item "><a class="nav-link" ui-sref="blog">Media Kit</a></li>
            </ul>
        </div>
    </div>
</div>