<div class="modal-body">
	<table class="table table-bordered">
		<tr>
			<td>
				<a href="about-us.html">About Us</a>
			</td>
			<td>
				<a ui-sref="product">Products</a>
			</td>
			<td>
				<a href="infrastructure.html">Infrastructure</a>
			</td>
			<td>
				<a href="technology.html">TECHNOLOGY / R&D</a>
			</td>
			<td>
				<a ui-sref="corporate-information">Corporate Information</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="coming-soon.html">Investors</a>
			</td>
			<td>
				<a href="coming-soon.html">Business Alliances</a>
			</td>
			<td>
				<a href="co-developement_partnership.html">Co Developement & Partnerships</a>
			</td>
			<td>
				<a href="career.html">Careers</a>
			</td>
			<td>
				<a ui-sref="blog">Media Kit</a>
			</td>
		</tr>
	</table>
	<p class="pull-left">
		<small>&copy; Copyright 2018, ZIM Laboratories Limited |
			<a href="disclaimer.html">Disclaimer</a>
		</small>
	</p>
	<p class="pull-right">
		<small>
			<a href="contact-us.html">Contact US</a>
		</small>
	</p>
</div>